body {
	background-color: #ADD8E6;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #1976d2; 
    background-image: url('background.jpg'); /* Masukkan path gambar Anda */	
	background-size: cover; /* Agar gambar menyesuaikan ukuran header */
    color: white;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 0;
}
header h1 {
    margin: 0;
    padding: 1em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);	
}
nav {
    display: flex;
    justify-content: left;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
main {
	background-color: white;
	margin: 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 760px;
}
footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
}
ul, ol {
    line-height: 1.6;
}
section {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header-section {
    background-image: url('background.jpg'); /* Masukkan path gambar Anda */
    background-size: cover; /* Agar gambar menyesuaikan ukuran header */
    background-position: center; /* Menjaga gambar tetap di tengah */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    height: 300px; /* Tentukan tinggi header */
    color: white; /* Sesuaikan warna teks agar terbaca dengan jelas */
    display: flex;
    justify-content: center;
    align-items: center;
}

