body {
	background-color: #ADD8E6;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #1976d2; 
    background-image: url('assets/images/header.jpg'); /* Masukkan path gambar Anda */	
	background-size: cover; /* Agar gambar menyesuaikan ukuran header */
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}
header h1 {
    margin: 0;
    padding: 1em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);	
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
main {
	background-color: white;
	margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
footer {
    font-size: small;
    text-align: center;
    width: 100%;
    bottom: 0;
}
section {
    width: 100%;
    padding: 20px;    
}
ul, ol {
    line-height: 1.6;
}
a:link{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  /* gradient line */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header-section {
    background-size: cover; /* Agar gambar menyesuaikan ukuran header */
    background-position: center; /* Menjaga gambar tetap di tengah */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    height: 300px; /* Tentukan tinggi header */
    color: white; /* Sesuaikan warna teks agar terbaca dengan jelas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mermaid {
    text-align: center;
}

.mermaidTooltip {
    position: absolute;
    background-color: #333; /* Warna latar belakang */
    color: #fff;           /* Warna teks */
    padding: 10px;         /* Jarak dalam tooltip */
    border-radius: 5px;    /* Sudut membulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan */
    font-size: 14px;       /* Ukuran teks */
    z-index: 1000;         /* Posisi di atas elemen lainnya */
    max-width: 300px;      /* Batas lebar tooltip */
}  

#output {
    text-align: center;
}

@media screen and (max-width: 1280px) {
    body {
        background-color: #87CEEB; /* Warna lebih terang untuk layar kecil */
    }

    header {
        max-width: 100%;
        padding: 0;
    }

    nav a {
        padding: 10px 15px; /* Sesuaikan ukuran padding untuk navigasi */
    }

    main {
        max-width: 100%;
        flex-direction: column; /* Ubah tata letak menjadi kolom untuk layar lebih kecil */
    }
	
	main h1 {
		text-align: center;
	}
	
	section {
		padding: 10px;
	}

    footer {
        padding: 10px;
        font-size: smaller; /* Ubah ukuran font di footer */
    }

    .header-section {
        height: 200px; /* Kurangi tinggi header untuk resolusi ini */
        background-size: cover;
    }

    .tree .node {
        margin: 5px;
        padding: 5px; /* Sesuaikan ukuran node */
        font-size: small; /* Kurangi ukuran font untuk teks */
    }
}
  
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px; /* Ubah ukuran font judul untuk layar kecil */
    }

    nav a {
        padding: 8px 12px; /* Sesuaikan ukuran padding untuk navigasi */
    }

    main {
        padding: 10px; /* Kurangi padding di dalam main */
    }

    footer {
        padding: 5px; /* Kurangi padding di footer */
        font-size: smaller; /* Ubah ukuran font di footer */
    }

    .header-section {
        height: 150px; /* Kurangi tinggi header untuk resolusi ini */
        background-size: cover;
    }
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 20px; /* Ubah ukuran font judul untuk layar kecil */
    }

    nav a {
        padding: 5px 10px; /* Sesuaikan ukuran padding untuk navigasi */
    }

    main {
        padding: 5px; /* Kurangi padding di dalam main */
    }

    footer {
        padding: 5px; /* Kurangi padding di footer */
        font-size: x-small; /* Ubah ukuran font di footer */
    }

    .header-section {
        height: 120px; /* Kurangi tinggi header untuk resolusi ini */
        background-size: cover;
    }
}

@media screen and (min-width: 1281px) {
    main {
        display: flex;
    }
    section {
        flex: 1; /* Agar semua section memiliki lebar yang sama */
        padding: 0 20px 0 20px; /* Padding horizontal */
        border: 1px solid #ccc; /* Tambahkan border */
    }
}
